*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}


#page{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #ffe6f0;
    border: 2px solid #ffb3c6;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    
    
}

.left-page

.container{
    width: 80%;
    margin: auto;
}


.title h1{
    
    color: #52494b;
    margin-bottom: 20px;
    font-size: 3.5em;

}
.title span{
    
    color: #ff1a3c;
    font-size: 3.5em;
    font-weight: bold;
}

.left-text{
    text-align: left;
    margin-bottom: 15px;
    font-size: 1.2em;
    display: flex;
    gap: 40px;
    flex-direction: column;
}

 .left-text .btn-date, .left-text .btn-birthday, .btn , .mail{
    font-weight: bold;
    color: #ff1a3c;
    background-color: pink;
    padding: 10px 15px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
    transition: all 0.6s ease;
   
}

.mail a{
 text-decoration: none;
    color: black;
    letter-spacing: 5px;
   
}

.btn-birthday:hover{
    background-color: rgb(219, 205, 208);
    cursor: pointer;
}

 .left-text .btn-date{
     letter-spacing: 10px;
 }

 .left-text .btn-date a, .left-text .btn-birthday a, .btn a{
    text-decoration: none;
    color: #0e0103;
    font-weight: bold;
 }


 /* right content */

 .right-page{
    text-align: right;
 }




.right-page .img-page {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e88fbc;
    border: 5px solid rgb(160, 148, 148); 
}

.right-page .img-page img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: none;
}




 .right{
    position: relative;
    animation: move 10s 1 alternate ease;
 }

    .btn-underimage{
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        background-color: pink;
        padding: 10px 15px;
        border-radius: 8px;
        width: 200px;
        text-align: center;
        transition: all 0.6s ease;
    }

    @keyframes move {
        0%{
            transform: translateY(100%) translateX(-50%);
            overflow: hidden;
        }
        5%{
            overflow: visible;
        }
        100%{
            transform: translateY(0);
            
        }
        
    }




.boxMail {
    position: fixed;      
    top: 0;
    left: 0;             
    width: 100vw;         
    height: 100vh;       
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0.3);
    transition: all 0.5s ease;
    visibility: hidden;    
    z-index: 9999;         
}
.boxMail.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.8);
    
}
.boxMail .boxMail-container{
    position: absolute;
    width: 750px;
    height: 500px;
    display: flex;
    margin: 0;
    transform: scale(0.9);
    -webkit-perspective: 2000px;
    perspective: 2000px;
    transition: all 0.5s;
}
.boxMail .boxMail-container:hover{
    transform: rotate(-5deg);
    filter: drop-shadow(0 0 10px #FF7882);
    
}
.boxMail .boxMail-container:hover .card1{
    transform: translate(-187px, -250px) rotateY(-140deg);
}
.boxMail .boxMail-container .card1,
.boxMail .boxMail-container .card2{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}
.boxMail .boxMail-container .card1 {
    position: absolute;
    width: 50%;
    height: 100%;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 1.2rem aqua;
}
.boxMail-container .card1{
    z-index: 1;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: all 1s ease-in-out;
}
.boxMail .boxMail-container .card1 .userImg{
    position: relative;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
    cursor: pointer;
    margin-bottom: 20px;
}
.boxMail .boxMail-container .card1 .userImg img{
    position: absolute;
    object-fit: cover;
    width: calc(100%);
    height: calc(100%);
}
.boxMail .boxMail-container .card1 h3{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    text-transform: uppercase;
    width: 80%;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 5px;
    transform: rotate(-5deg);
    text-shadow: 0 0 5px white,
                0 0 10px white;
}
.boxMail .boxMail-container .card2{
    position: relative;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, #e0e0e0, #ffffff 30%);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: all 1s;
    box-shadow: 0 0 1.2rem aqua;
}
.boxMail .boxMail-container .card2 .card2-content {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #000000;
    transition: all 1s;
    overflow: hidden;
    font-family: "Inter", serif;
    color: #fff;
}
.boxMail .boxMail-container:hover .card2-content{
    transform: translate(20px, 20px);
    box-shadow: -1px -1px 5px rgb(0, 0, 0, 0.4);
}
.boxMail .boxMail-container .card2 h3{
    font-family: 'Dancing Script', cursive;
    padding: 20px 0px 10px 60px;
    opacity: 0;
    visibility: hidden;
    font-size: 25px;
    text-shadow: 0 0 8px #FF7882;
}
.boxMail .boxMail-container .card2:hover h3{
    animation: texth3 3s forwards;
    animation-delay: 2s;
    transition: 1s;
}
@keyframes texth3{
    0%{
        opacity: 1;
        visibility: visible;
        padding: 20px 0px 10px 60px;
    }
    100%{
        opacity: 1;
        visibility: visible;
        padding: 20px 0px 10px 152px; 
    }
}
.boxMail .boxMail-container .card2 h2{
    font-family: 'Dancing Script', cursive;
    padding: 0px 20px;
    text-indent: 20px;
    font-size: 22px;
    opacity: 0;
}
.boxMail .boxMail-container .card2:hover h2{
    animation: texth2 2s forwards;
    animation-delay: 4s;
    transition: 1s;
}
@keyframes texth2{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.boxMail .boxMail-container .card2 .card2-content .imageCute2{
    position: absolute;
    top: 5px;
    left: 20px;
    opacity: 0;
    transition: 1s;
}
.boxMail .boxMail-container .card2 .card2-content:hover .imageCute2{
    animation: cute3 1s linear infinite,
                cute4 3s 2s forwards;
    animation-delay: 2s;
    transition: 1s;
}
@keyframes cute3{
    0%{
        opacity: 1;
        transform: rotate(0deg);
    }
    25%{
        opacity: 1;
        transform: rotate(5deg);
    }
    50%{
        opacity: 1;
        transform: rotate(0deg);
    }
    75%{
        opacity: 1;
        transform: rotate(-5deg);
    }
    100%{
        opacity: 1;
        transform: rotate(0deg);
    }
}
@keyframes cute4{
    0%{
        left: 20px;
    }
    100%{
        left: 100px;
    }
}
.boxMail .boxMail-container .card2 .card2-content .imageCute2 img{
    width: 40px;
}
.boxMail .fa-xmark{
    position: fixed;
    top: 0;
    right: 0;
    font-size: 30px;
    padding: 10px 25px;
    cursor: pointer;
    color: white;
    z-index: 10000000000000000;
}


/* fadeIn animation */
.fadeIn {
    opacity: 0;
    animation: fadeInAnim 0.7s forwards;
}

@keyframes fadeInAnim {
    to {
        opacity: 1;
    }
}



.userImg {
    width: 150px;
    height: 150px;
    border-radius: 50%;        
    overflow: hidden;          
    display: flex;              
    justify-content: center;    
    align-items: center;        
        
}

.userImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;           
    object-position: center;    
}


@media (max-width:768px) {
 
    #page{
         width: 735px;
        height: 200vh;
        border-radius: 10px;
    }
    .boxMail i{
        position: absolute;
        top: 50%;
        left: 0;
    }
    .boxMail.active{
        width: 800px;
        height: 200vh;
    }
}