* {
    margin: 0;
    padding: 0;

}

body {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/fireworks.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    perspective: 1000px;
    top: 20%;
    position: relative;
}

.card {
    width: 280px;
    height: 200px;
    position: absolute;
    top: 100px;
    left: 230px;
    transition: 2s;
    transform-style: preserve-3d;
}

.card:hover {
    transform: rotateY(180deg);
}

.block {
    position: absolute;
    top: 200px;
    right: 800px;
    perspective: 800px;

}


.outside {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(244, 198, 220);
    box-shadow: 0 0 2rem rgb(247, 90, 164);
    padding: 150px 50px;
    position: absolute;
    backface-visibility: hidden;


}

.outside h1 {
    font-size: 3rem;
    font-weight: bold;
    color: salmon;
    margin-bottom: 30px;

}

.card .inside {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(248, 175, 226);
    box-shadow: 0 0 2rem rgb(247, 90, 164);
    padding: 150px 50px;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;


}


.inside h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
}

.inside img {
    width: 150px;
    height: 150px;
    border-radius: 30%;
}

.frames {
    width: 600px;
    height: 150px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.6rem 0.8rem;
    transform: rotateY(-230deg) rotateX(20deg);
    position: absolute;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.6s ease, box-shadow 0.6s ease;
    transform: rotateY(-230deg) rotateX(20deg);
    

}





.frames:hover {
    transform: rotateY(-250deg) rotateX(15deg) scale(1);
    box-shadow: 0 15px 25px rgba(255, 255, 255, 0.8);
    animation: hoverMove 1.2s ease forwards;
    border: 3px solid aqua;

}

@keyframes hoverMove {
    0% {
        transform: rotateY(-230deg) rotateX(20deg) scale(1);
        box-shadow: 0 5px 10px rgba(115, 175, 189, 0.5);
    }

    50% {
        transform: rotateY(-220deg) rotateX(25deg) scale(1);
        box-shadow: 0 15px 25px rgba(255, 255, 255, 0.8);
    }

    100% {
        transform: rotateY(-230deg) rotateX(20deg) scale(1);
        box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
    }
}


.frames img {
    width: 120px;
    height: 120px;
    border: 3px solid pink;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    transform: rotateY(180deg);

}

.frame2 img, .frame1 img{
   position: absolute;
   top: 5%;
   left: 5%;
}






.frames p {
    font-size: 20px;
    font-weight: bold;
    color: black;
    transform: rotateY(180deg);
}


.frames:nth-child(1) {
    top: -140px;
    z-index: -1;
    background-color: coral;
}

.frames:nth-child(2) {
    background-color: goldenrod;
}



.frames:nth-child(3) {
    top: 130px;
    background-color: burlywood;

}

@media (max-width:768px){
    body{
        height: 100vh;
    }
    .block{
        display: none;
    }
    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 17%;
    }

    .inside{
        height: 120%;
        
    }
}
