body {
  margin: 0;
  font-family: sans-serif;
}

#navbar {
  width: 100%;
  height: 60px;
background:black ;

  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 0 2rem pink;
  padding: 0 20px;
  border-radius: 5px;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}



ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}


.nav-links a {
  padding: 10px 20px;
  margin: 0 10px;
  color: rgb(237, 232, 232);
  text-decoration: none;
  border-radius: 20px;
  transition: all 0.6s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.nav-links a:hover {
  background: rgba(124, 116, 122, 0.3);
  color: black;
}

#nav-links a.active {
  background: rgb(235, 136, 192);
  color: #004;
}

.fade {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.fade.show {
  opacity: 1;
}

/* Hamburger menu */
.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: rgb(132,96,96);
  position: absolute;
  top:10%;
  right: 10%;
}



.nav-links a.active {
  background: rgb(235, 136, 192);
  color: #004;
}

.nav-links.show {
  right: 0; /* mobile menu visible */
}
/* Responsive */
@media (max-width: 950px) {
  .nav-links {
    position: fixed;
    top: 60px;
    right: -100%;
    height: calc(100vh - 60px);
    width: 250px;
    flex-direction: column;
    background: rgb(18, 17, 17);
    padding-top: 20px;
    transition: right 0.3s ease;
    box-shadow: 0 0 2rem rgba(218, 136, 136);
  }

  .nav-links.show {
    right: 0;
  }

  .nav-links li {
    width: 100%;
  }

  .nav-links a {
    margin: 5px 20px;
    padding: 12px 15px;
    justify-content: flex-start;
    color: rgb(225, 214, 214);
  }

  .hamburger {
    display: block;
  }
}